body {
	font-family:  "Helvetica Neue", Helvetica, sans-serif;
}
.tooltip {
	font-size: 10px;
}
.axis_text {
	font-size: 12px;
}
#chart {
  width: 100%;
  max-width: 900px;
  height: 400px;
  position: absolute;
}
#summary_table {
	text-align: right;
}

